*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

html {
    font-family: sans-serif;
}

#login_wrapper {
   width: 322px;
    height: 567px;
    margin: 0 auto;
    border: 1px solid #808080;
    border-radius: 4px;
    box-shadow: 2px 3px 2px #808080;
}

.login_container {
    margin: -10px 8% 2px;
/*    padding: 5%;*/
    align-content: center;
}

/******* HEADER STYLES *******/

#login_main_content h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 20px;
    padding: 5px 0 10px;
    font-weight: 600;
} /*Assumption is that h1 will be in the Alicorn header.*/

/******* FORM STYLES *******/

.email_label,
.password_label,
.fullName_label {
    font-size: 1.3rem;
    display: inline-block;
    float: left;
    clear: both;
    max-width: 250px; 
    text-align: left;
/*    margin-bottom: 15px;*/
}

form input {
    border: none;
}

#user_email,
#user_password,
#user_fullName {
    display: inline-block;
    float: left;
    clear: both;
    font-size: 1em;
    border-bottom: 1px solid #333;
    width: 250px;
    height: 1.4em;
    margin-bottom: 15px;
}

.data-psswrd-text /*Show-Hide checkbox text*/ {
    font-size: .75rem;
/*    display: inline-block;*/
    float: right;
    border: none;
    padding: 5px;
    margin-top: -40px;
/*
    background-image: url('../img/pw_hidden@24x24.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    color: transparent;
*/
    
}

.data-psswrd-checkbox /*Show-Hide checkbox*/{
    display: none;
    /*
    width: 13px;
    height: 13px;
    display: inline-block;
    clear: both;
*/
}

.psswrd_reset {
    font-size: .75rem;
    float: right;
/*    clear: both;*/
    margin: -10px 10px 15px 0;
    padding: 10px;
}

.login_divider {
    margin: 15px 0;
}

/******* BUTTON STYLES *******/
button {
    padding: 15px 20px;
    margin: 10px 5px 3px;
    border-radius: 4px;
    box-shadow: 2px 4px 1px #D3D3D3;
    width: 250px;
}

.linkedIn_logo{
    width: 250px;
    display: block;
    margin: 5px 2% 5px;
    box-shadow: 2px 4px 1px #D3D3D3;
}

.agree_to_guidelines /*text for checkbox*/ {
    width: 250px;
    font-size: .85rem;
    display: inline-block;
    margin: 10px 0 10px;
    border-bottom: 0;
}

#guideline_agreement /*checkbox*/{
  clear: both; 
  width: 15px;
  height: 15px;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}


/******* TEXT STYLES *******/
.confirmation_text {
    font-size: 1.3rem; 
    line-height: 1.5rem;
/*    margin-top: -20px;*/
    margin-bottom: 10px;
}

 .disclaimer {
    font-size: .85rem;
    line-height: 1rem;
    margin: 30px 0 20px;
}
